header{
 border-bottom: 1px solid;
 color: #ECECEC;
}
/*booton*/
.btn.current {
  background-color: var(--accsent-color);
}
.btn{
  display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
}
.btn:hover{
    color:#FFFFFF;
background-color: #2196F3;}
.btn:focus{
    color: #2196F3;
}

/*portfolio*/

.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
   }
.portfolio-selection{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    list-style: none;
    }
    .portfolio-item {
        margin-left: 8px;
    }
.portfolio-title{
   margin-bottom: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-text{ 

font-family: inherit;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: #757575;
}

.gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;  
}  
/* margin-left: -30px;
    margin-bottom: -30px;
}
.calery-item{
 width:  calc(100%/3 - 30px);  
 margin-left: 30px;
 margin-bottom: 30px;
}*/

.foto-bottom{
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
    margin-left: 0;
    margin-right: 0;
}

















