:root{
--hero-title-color:#FFFFFF;
--accsent-color:#2196F3;
--second-title-color:#757575;
--main-title-color:#212121;
}
body{
    font-family: Roboto, sans-serif;}
    .link{
        text-decoration: none;
    }
    .list{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .nav-list.link.current{
        color: var(--accsent-color);
    }
    .header-link.current{
        color: var(--accsent-color);
    }
    .colortext{
        color: black;
        /* чорний  колір лого */
    }
    .colorchange{
        color: #FFFFFF;
        /*білий колір лого*/
    }
    
    
    p,
    h1,
    h2,
    h3,
    h4,
    li {
        margin: 0;
    }
    
    ul {
        padding-left: 0;
        margin: 0;
    }
    
    button {
        cursor: pointer;
    }
    
    .container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        /*outline: 1px solid;*/
        }
    /*.section {
        padding-bottom: 94px;
        padding-bottom: 94px;
    }*/

  /*header*/
    .header{
        background-color:#FFFFFF;
        padding: 24px 0 24px 0;
    }
    .header .container{
        display: flex;
        align-items: center;    
    }
    .header-list{
        display: flex;
    }
    .header-nav{
        display: flex;
        align-items: center;
    }
    .header-logo{
        margin-right: 95px;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #2196F3;
    }
    .header-item:not(:last-child){
margin-right:50px ;
    }
    .header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
        }
    .header-link:hover,
    .header-link:focus{
    color: #2196F3;
        }
    .header-connect{
        margin-left: auto;
    }
    .header-mail{
        margin-right: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accsent-color);
    }
    .header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    }
    /*hero*/
    .hero{
     background: #2F303A;
     text-align: center;
    padding-top: 200px;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), 
    url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
     }
    
    
    .hero-title{
        margin-top: 0;
        margin-bottom: 45px;
        
     font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    color: var(--hero-title-color)
    }
  
    /*button*/
    .button{
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 10px 32px;
        margin-bottom: 200px;
        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        color: var(--hero-title-color);
        background-color: var(--accsent-color);
    }

    /*feature*/
    .feature{
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .feature-title{
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-title-color);
        }
    .feature-text{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    
        }
    .feature-list{
        display: flex; 
        
     }
     .item{
         width: 270px;
       
         }
    .item:not(:last-child) {
        margin-right: 30px;
    }
       
    .feature-list .item{
        width: 270px;
       
    }
/*.about-item + .about-item + .about-item{
    margin-left: 30px;
}*/
/*justify-content: space-between; - розтягує по ширині *.
        /*about*/
     .about{
     padding-bottom: 94px;  
     }  
    .about-title{
    margin-top: 0;
     margin-bottom: 50px; 
    font-family: Roboto, sans-serif;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
        }
        .about-list{
            display: flex; 
            margin-left:-30px;   
        }
       /* .about-item:not(:last-child){
margin-right: 30px;
        } відступи*/
        .about-item{
        flex-basis:cal(100-90px)/3;
       /* width:  calc(100%/3-30px);*/
        margin-left: 30px;
        }
        
      .team{
          padding-bottom: 94px;
          padding-top: 94px;
      }    
       
     .team-list{
        display: flex;
        justify-content: space-between;
     }
    .team-title{
     padding-bottom: 50px;
     font-family: Roboto, sans-serif;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
        }
    .team-item-title{
  margin-bottom: 10px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
        }
    .team-item-text{
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 30px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
        }
        .img{
        display: block;
         }
        .foto-team{
            padding-top: 30px;
            padding-bottom: 30px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
/*посилання на соцмережі*/
        .team-soc-link{
            width: 44px;
            height: 44px;
            background-color: tomato;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .team-soc-list{
            display: flex;
            justify-content: center;
        }
        .team-soc-item + .team-soc-item{
            margin-left: 10px;
        }
        .team-soc-icon{
            fill: #FFFFFF;
        }
         /*footer*/
       .footer{
          padding-top: 60px;
          padding-bottom: 60px;
          background: #2F303A;
        
        }
        .footer-logo{
            margin-bottom: 20px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.9;
            letter-spacing: 0.03em;
             color: #2196F3;
        }
        address {
            font-style: normal;
        }
        .contact-address{
            color: var(--hero-title-color);
        }
        .contact-link{
            margin-bottom: 9px;
            font-family: Roboto,sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;
           color: var(--hero-title-color); 
         }
         .contact{
            margin-bottom: 9px;
            font-family: Roboto,sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
         }
       